html {
  font-family: "Roboto Condensed" , sans-serif;
  padding-bottom: 10px;
  padding-top: 30px;
  font-weight: 900;
  color: #7FA09F;

}
body, html
{
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* Change text selection color */
::selection {
  background: #F1F5F5; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F1F5F5; /* Gecko Browsers */
}

/* VIVIAN YOUNG */
.title {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: black;
}

.title #name {
  padding-top:20px;
  float: left;
  padding-left: 70px;
  color: white;
  font-family: 'Amiko', sans-serif;
  letter-spacing: 7px;
  font-size: 20px;
  /*text-shadow: 1px 4px 2px #A4BFBE;*/
  text-decoration: none;
}

.title #name:visited {
  color: white;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
}

/* Navigation bar */
.title #nav {
  white-space: nowrap;
  line-height: 10px;
  padding-bottom: 20px;
  padding-top: 25px;
  font-size: 10px;
  text-align: right;
  /*margin-left: 60px;*/
  margin-right: 60px;
  word-spacing: 30px;
}

.title #nav a {
  letter-spacing: 3px;
  font-size: 10px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  padding-bottom: 0px;
  }

.title #nav a:hover {
  color: white;
  border-bottom: solid 2px white;

  padding-bottom: 3px;
}

.title #nav .active {
    border-bottom: solid 2px white;
    display: inline;
    padding-bottom: 3px;
}

.container #date {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #677A7C;
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
}

.container h3 {
  padding-top: 50px;
  text-align: center;
  font-family: 'Amiko', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: #4B5C5D;
}

.container #workspace {
  width: 70%;
}

.container #copyright {
  font-size: 10px;
}
.container a {
  text-decoration: underline;
  font-family: 'Amiko', sans-serif;
  color: #779FA2;
}
.container #paragraph {
  font-family: 'Amiko', sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  color: #4B5C5D;
  padding: 20px 15%;
}

.container .painting {
  display: inline-block;
  height: 15.5em;
  padding-bottom: 7%;
}

/* Logos */

.logo {
  text-decoration: none;
}

#iglogo {
  margin-left: 80px;
}

/* Images */

#image img {
  width: 80%;
  height: 70%;
  padding-bottom: 80px;
  padding-top: 30px;
}

/* Copyright */
footer {
  font-weight: 900;
  float: right;
  margin-right: 10%;
  letter-spacing: 3px;
  font-size: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F3F3F3;
    border: black;
}
/* Footer */

.footer{
  /*position: absolute;*/
  width:100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F6F8F8;
}

/* DROP DOWN MENU /
/* Dropdown Button */
.dropbtn {
    font-family: "Roboto Condensed" , sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: bolder;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #515E5E;
    min-width: 40px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #657474;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #515E5E;
}
